CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

ac-display
acudp/acudp-*/
fuzz/libcurl/curl-*/
fuzz/fuzz_web_server_https
libmicrohttpd/libmicrohttpd-*/
output
unit_tests

/configuration.json
/*.csr
/*.crt
/*.key
